.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.isDone {
  text-decoration: line-through;
  font-weight: bold;
  color: lawngreen;
}

.notIsDone {
  font-weight: bold;
  color: hotpink;
}