.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.isDone {
  text-decoration: line-through;
  font-weight: bold;
  color: orange;
}

.notIsDone {
  font-weight: bold;
  color: purple;
}

.activeButton {
  background-color: darkred;
  color: white;
}

.btn {
  font-weight: bold;
  font-weight: bold;
  border-radius: 2px;
  padding: 3px;
  margin-right: 3px;
}